.btn-add-scenario {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.btn-add-scenario:hover {
  background-color: darkgreen;
}

.App {
  display: flex;
}

.main-content {
  margin-left: 200px;
  padding: 20px;
  width: calc(100% - 200px);
}

form {
  margin: 20px 0;
}

input,
select {
  margin: 5px;
}

button {
  margin: 5px;
}
